<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Easy Countdown Timer</title>
</head>
<body ng-app="ectWP">
  <div ng-controller="mainController as mc" class="ectPanels">
    <ang-accordion one-at-a-time="true">
      <collapsible-item item-title="{{item.title}}" ng-repeat="item in mc.timers">
        <div>
          Timer Title: <input class="titleInp" type="text" ng-model="item.title" name="" value=""> <br/>
          Timer End Date:
          <md-datepicker  class="datePicker" type="text" md-hide-icons="all" md-open-on-focus ng-model="ctrl.myDate" ng-model="{{item.endDate}}" md-placeholder="Enter date"></md-datepicker>
          <br/> Shortcode: <input class="readonly" type="text" name="" value="[ect-short-{{item.id}}]" readonly>

<md-button class="md-raised md-warn btnRemove" name="button" type="button" ng-click="mc.removeTimer($index)">Remove Timer</md-button>
        </div>
      </collapsible-item>
      <!-- More collapsible items -->
    </ang-accordion>
     <md-button class="md-raised md-primary" name="button" ng-click="mc.AddTimer()">Add a Timer</md-button>
  </div>
  <script src="./dist/commons.js"></script>
  <script src="./dist/bundle.js"></script>
</body>

</html>
