<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="dashboardfile" ng-controller="DashboardController as dhctrl">
        <div class="dshboardMdivs">
          <md-button class="md-raised dshboarboxes" goto-path="/timers">
            Timers
          </md-button>

          <md-button class="md-raised dshboarboxes" goto-path="/styles">
            Styles
          </md-button>
        </div>

        <div class="dshboardMdivs">
          <md-button class="md-raised dshboarboxes" goto-path="/textProperties">
            Text Properties
          </md-button>

          <md-button class="md-raised dshboarboxes" goto-path="/datetime">
            Date and Time formats
          </md-button>
        </div>

        <div class="dshboardMdivs">
          <md-button class="md-raised dshboarboxes" goto-path="/users">
            Users
          </md-button>

          <md-button class="md-raised dshboarboxes" goto-path="/images">
            Images
          </md-button>

        </div>
      </div>
    </div>
  </div>
</div>
