<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="DTAdd" ng-controller="DatetimeAddController as dtactrl">


        <div class="selectNamDT">
          <label for="nameformat">Name</label></br>
            <textarea class="nameformat" name="name" rows="8" cols="80"></textarea>
        </div>

        <div class="selectTypeDT">
          <label for="typeDT">Type</label>
          <select class="typeDT" name="">
            <option value="date">Date</option>
            <option value="time">Time</option>
</select>
        </div>



        <div class="">
          <button class="buttonAdd" type="buttonAdd" name="button">Add Format</button>
        </div>

      </div>
    </div>
  </div>
</div>
