<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="imagesAdd" ng-controller="StylesaddController as tractrl">

        <div class="inputN">
          <label for="inputName">Name</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>

          <div class="inputFile">
            <label for="fileImg">Font Size</label>
            <input class="fileImg" type="file" name="" value="">
          </div>

        <div class="">
          <button class="buttonAdd" type="buttonAdd" name="button">Add Image</button>
        </div>
      </div>
    </div>
  </div>
</div>
