<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="images" ng-controller="ImagesController as imctrl">
        <div class="imagesTable">
          <div class="btns">
            <button class="ybtn" type="button" name="button" goto-path='/images/add'>Add</button>
            <button ng-show="imctrl.trIndex != -1" class="gbtn" type="button" name="button" ng-click="imctrl.goToEdit()">Edit</button>
            <button ng-show="imctrl.trIndex != -1" class="rbtn" ng-click="showConfirm($event)" type="button" name="button">Delete</button>

          </div>
          <table>
            <tr>
              <th>Name</th>
              <th>Picture</th>
            </tr>
            <tr ng-repeat="item in imctrl.imagesObj" ng-click="imctrl.clicked($index)" ng-class="{active : imctrl.trIndex==$index}">
              <td>{{item.name}}</td>
              <td>{{item.picture}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
