<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main1">
      <div class="loginPage" ng-controller="LoginController as logctrl">

        <div class="loginBox">

          <div class="smallbox">


            <md-input-container class="md-block" flex-gt-sm>

              <label for="inputName">Name</label>
              <input class="inputName" type="text" name="" value="" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>

              <label for="inputPass">Password</label>
              <input class="inputPass" type="text" name="" value="" required>
            </md-input-container>
            <div class="btns">
             <md-button class="md-raised md-primary">Log Into Admin</md-button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
