<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="stylesAdd" ng-controller="StylesaddController as tractrl">

        <div class="inputN">
          <label for="inputName">Name</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>
        <div class="inputN">
          <label for="inputName">Description</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>

        <div class="numbrOrientdropd">
          <label for="numbrOrientdropdwn">Number Orientation</label>
          <select class="numbrOrientdropdwn" name="">
            <option value="top">top</option>
            <option value="right">right</option>
            <option value="left">left</option>
            <option value="bottom">bottom</option>
            <option value="center">center</option>
</select>
        </div>

        <div class="periodOrientdropd">
          <label for="periodOrientdropdwn">Number Orientation</label>
          <select class="periodOrientdropdwn" name="">
            <option value="top">top</option>
            <option value="right">right</option>
            <option value="left">left</option>
            <option value="bottom">bottom</option>
            <option value="center">center</option>

  </select>
        </div>

        <div class="">
          <button class="buttonAdd" type="buttonAdd" name="button">Add Styles</button>
        </div>
      </div>
    </div>
  </div>
</div>
