<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="textProperties" ng-controller="TxtpropertiesController as txtpctrl">
        <div class="txtPropertiesTable">
          <div class="btns">
            <button class="atxbtn" type="button" name="button" goto-path='/textProperties/add'>Add</button>
            <button ng-show="txtpctrl.trIndex != -1" class="etxbtn" type="button" name="button" ng-click="txtpctrl.goToEdit()">Edit</button>
            <button ng-show="txtpctrl.trIndex != -1" class="dtxbtn" ng-click="showConfirm($event)" type="button" name="button">Delete</button>

          </div>
          <table>
            <tr>
              <th>Font Family</th>
              <th>Font Size</th>
              <th>Font Color</th>
              <th>Letter Spacing</th>
              <th>Word Spacing</th>
            </tr>
            <tr ng-repeat="item in txtpctrl.txtPropertiesObj" ng-click="txtpctrl.clicked($index)" ng-class="{active : txtpctrl.trIndex==$index}">
              <td>{{item.fontFamily}}</td>
              <td>{{item.fontSize}}</td>
              <td>{{item.fontColor}}</td>
              <td>{{item.letterSpacing}}</td>
              <td>{{item.wordSpacing}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
