<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main2">
      <div class="textPropertiesAdd" ng-controller="textPropertiesAddController as tpactrl">

        <div class="fontF">
          <label for="fontsTypes">Font Family</label>
          <input class="fontsTypes" type="text" name="" value="" required>
        </div>

        <div class="fontF">
          <label for="fontsTypes">Font Size</label>
          <input class="fontsTypes" type="number"  onkeydown="javascript: return event.keyCode == 69 ? false : true" required />
        </div>

        <div class="fontF">
          <label for="fontsTypes">Font Color</label>
          <input class="fontsTypes" type="text" name="" value="" required>
        </div>

        <div class="fontF">
          <label for="fontsTypes">Letter Spacing</label>
          <input class="fontsTypes" type="number"  onkeydown="javascript: return event.keyCode == 69 ? false : true" required />
        </div>

        <div class="fontF">
          <label for="fontsTypes">Word Spacing</label>
          <input class="fontsTypes" type="number"  onkeydown="javascript: return event.keyCode == 69 ? false : true" required />
        </div>


        <div class="buttonAdd">
        <md-button class="md-raised">Add properties</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
