<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main">
      <div class="usersAdd" ng-controller="UseraddController as tractrl">
        <div class="inputN">

          <label for="inputName">Name</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>
        <div class="inputN">

          <label for="inputName">Surname</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>

        <div class="inputN">
          <label for="inputName">User Name</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>
        <div class="inputN">
          <label for="inputName">Email</label>
          <input class="inputName" type="text" name="" value="" required>
        </div>
        <div class="userTypedropd">
          <label for="userTypedropdown">Style</label>
          <select class="userTypedropdown" name="">
            <option value="one" selected>Admin</option>
    <option value="two">User</option>
  </select>
        </div>


        <div class="buttonAdd">
          <md-button class="md-raised">Add user</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
